@use '../utils/mixins' as *;
@use '../utils/variables' as *;

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

@include reduced-motion {
  html {
    scroll-behavior: auto;
  }
}

:root {
  color: $black;
  background: $color-background;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: $font-base;
  color: $black;
  background: $color-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mantine-Button-root {
  @include transition((background-color, border-color, color, box-shadow));
}

.container {
  @include container($with-padding: false);

  &:not(.no-padding) {
    padding-inline: var(--padding);
  }

  &._wide {
    max-width: var(--container-wide);
  }

  &._thin {
    max-width: var(--container-thin);
  }
}
