.demo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: var(--mantine-color-gray-0);
  border-bottom: 1px solid var(--mantine-color-gray-2);
}

@include mobile-767 {
  .demo {
    align-items: flex-start;
    flex-direction: column;
    gap: 0.35rem;
  }
}
