.header {
  display: flex;
  align-items: center;
  height: 100%;
}

.content {
  animation: content-fade 0.3s ease;
}

@keyframes content-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@include reduced-motion {
  .content {
    animation: none;
  }
}
